

#myContainer {
  width: 400px;
  height: 400px;
  position: relative;
  background-image: url('../bild/omslagmk.webp'); 
  background-size: cover;
  background-position: center;
  bottom: 0px;
  left:50px;
}
#myAnimation {
  width: 400px;
  height: 400px;
  border-radius: 250px;
  position: relative;
  background-image: url('../bild/vinyl2.png'); 
  background-size: cover;
  background-position: center;
  bottom: -400px;
  left:50px;  
  transition: all 0.3s ease-in-out; /* För smooth effekt */
}


#myContainer2 {
  width: 400px;
  height: 400px;
  position: relative;
  background-image: url('../bild/WTER.jpeg'); 
  background-size: cover;
  background-position: center;
  bottom: 800px;
  left:500px;
}
#myAnimation2 {
  width: 400px;
  height: 400px;
  border-radius: 250px;
  position: relative;
  background-image: url('../bild/vinyl2.png'); 
  background-size: cover;
  background-position: center;
  bottom: 400px;
  left:500px;  
  transition: all 0.3s ease-in-out;
}


  
    .top5 {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      }

  .rubrik { grid-area: 1 / 1 / 2 / 5; }
  .omslag1 { grid-area: 2 / 1 / 3 / 2; 
    background-image: url('../bild/RAMdp.jpeg');
    width: 100px;
    height: 100px;
    position: relative;
    background-size: cover;
    background-position: center;
    margin-left: 30%;
   }
  .omslag2 { grid-area: 3 / 1 / 4 / 2; 
    background-image: url('../bild/kolikbarn.jpeg');
    width: 100px;
    height: 100px;
    position: relative;
    background-size: cover;
    background-position: center;}
  .omslag3 { grid-area: 4 / 1 / 5 / 2; 
    background-image: url('../bild/ROF.jpeg');
    width: 100px;
    height: 100px;
    position: relative;
    background-size: cover;
    background-position: center;}
  .omslag4 { grid-area: 5 / 1 / 6 / 2; 
    background-image: url('../bild/thebends.png');
    width: 100px;
    height: 100px;
    position: relative;
    background-size: cover;
    background-position: center;}
  .omslag5 { grid-area: 6 / 1 / 7 / 2; 
    background-image: url('../bild/bobhund.jpeg');
    width: 100px;
    height: 100px;
    position: relative;
    background-size: cover;
    background-position: center;}
  .namn1 { grid-area: 2 / 2 / 3 / 5; 
    padding: 32px 60px;
    font-size: 2.5vw;
    border-radius: 10px;
    text-align: center;
    color: darkkhaki;
    background-color: darkred;}
  .namn2 { grid-area: 3 / 2 / 4 / 5; }
  .namn3 { grid-area: 4 / 2 / 5 / 5; }
  .namn4 { grid-area: 5 / 2 / 6 / 5; }
  .namn5 { grid-area: 6 / 2 / 7 / 5; }



  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .rad1 { grid-area: 1 / 1 / 2 / 2; }
    .rad2 { grid-area: 2 / 1 / 3 / 2; }
    .rad3 { grid-area: 3 / 1 / 4 / 2; }
    .rad4 { grid-area: 4 / 1 / 5 / 2; }
    .rad5 { grid-area: 5 / 1 / 6 / 2; }


@media screen and (max-width: 768px) {
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .rubrik1 { grid-area: 1 / 1 / 2 / 2; }
    .rubrik2 { grid-area: 4 / 1 / 5 / 2; }
    .album1 { grid-area: 2 / 1 / 3 / 2; }
    .album2 { grid-area: 5 / 1 / 6 / 2; }
    .beskrivning1 { grid-area: 3 / 1 / 4 / 2; }
    .beskrivning2 { grid-area: 6 / 1 / 7 / 2; }
}