

  .parent {
   
        display: grid;
        grid-template-columns: auto; /* Låta divvarna bara ta nödvänding plats */
        grid-template-rows: auto;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
      
}
.parent .btn { /* rating-rutan */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #e9e6df;
    color: black;
    font-size: 20px;
    padding: 16px 30px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }


  .parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 10px;
  }
  
  
  .film1 { grid-area: 1 / 1 / 2 / 2; 
    padding: 10px;}
  .film2 { grid-area: 1 / 2 / 2 / 3; 
    padding: 10px;}
  .film3 { grid-area: 1 / 3 / 2 / 4; 
    padding: 10px;}

.film1 {
  background-color: darkred;
  font-size: 2.5vw;
  border-radius: 10px;
  text-align: center;
  color: #e9e6df;
  margin: 10px;
  position: relative;
}

.film2 {
  background-color: darkred;
  font-size: 2.5vw;
  border-radius: 10px;
  text-align: center;
  color: #e9e6df;
  margin: 10px;
  position: relative;
}

.film3 {
  background-color: darkred;
  font-size: 2.5vw;
  border-radius: 10px;
  text-align: center;
  color: #e9e6df;
  margin: 10px;
  position: relative;
}

.div1 { 
  grid-area: 1 / 1 / 2 / 2; 
  font-size:40px; 
  padding: 8px 16px;
}
.div2 { 
  grid-area: 1 / 2 / 2 / 3; 
  font-size:40px;
  padding: 8px 16px;
}
.div3 { 
  grid-area: 1 / 3 / 2 / 4; 
  font-size:40px;
  padding: 8px 16px;
}


.div4,
.div5,
.div6 {
  width: 100%;
  height: 0;
  padding-bottom: 150%; 
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.div4 {
  background-image: url('../bild/billboards.jpeg');
}

.div5 {
  background-image: url('../bild/sposter.jpeg');
}

.div6 {
  background-image: url('../bild/goodfellas.jpeg');
}


.div7 { 
  grid-area: 3 / 1 / 4 / 2; 
  font-size:30px;
  padding: 16px 30px;
}
.div8 { 
  grid-area: 3 / 2 / 4 / 3; 
  font-size:30px;
  padding: 16px 30px;
}

.div9 { 
  grid-area: 3 / 3 / 4 / 4; 
  font-size:30px;
  padding: 16px 30px;
}

.text1 {
  padding: 32px 64px;
  font-size: 25px;
  border-radius: 10px;
  text-align: center;
  color: rgb(155, 14, 14);
  background-color: rgb(150, 146, 83);
  margin: 10px;
  margin-top: 20px;

}


.rutorna {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5%;
  grid-row-gap: 5%;
  }

  .ruta1 { grid-area: 1 / 1 / 2 / 2; 
    display: flex;
    background-image: url('../bild/billboards.jpeg'); 
    padding: 64px 120px;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    color: darkkhaki;
    margin: 10px;
    margin-top: 20px;
    align-items: center; /* Centrerar vertikalt */
    justify-content: center; /* Centrerar horisontellt */
    filter: grayscale(100);
  }
  
  .ruta2 { grid-area: 1 / 2 / 2 / 3; 
    display: flex;
    background-image: url('../bild/billboards.jpeg');     
    padding: 64px 120px;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    color: darkkhaki;
    margin: 10px;
    margin-top: 20px;
    align-items: center; 
    justify-content: center;
    filter: grayscale(100);}

  .ruta3 { grid-area: 2 / 1 / 3 / 2; 
    display: flex;
    background-image: url('../bild/billboards.jpeg'); 
    padding: 64px 120px;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    color: darkkhaki;
    align-items: center; 
    justify-content: center; 
    margin: 10px;
    filter: grayscale(100);}

  .ruta4 { grid-area: 2 / 2 / 3 / 3; 
    display: flex;
  align-items: center; 
  justify-content: center; 
  background-image: url('../bild/billboards.jpeg');
  padding: 64px 120px;
  font-size: 25px;
  border-radius: 10px;
  text-align: center;
  color: darkkhaki;
  margin: 10px;
  margin-top: 20px;
  filter: grayscale(100);
  }

    .ruta1:hover,
    .ruta2:hover,
    .ruta3:hover,
    .ruta4:hover {
    filter: grayscale(0);
    }

/* Responsiv för mobil */
@media screen and (max-width: 800px) {
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .film1 { grid-area: 1 / 1 / 2 / 2; }
    .film2 { grid-area: 2 / 1 / 3 / 2; }
    .film3 { grid-area: 3 / 1 / 4 / 2; }
  

  
    .rutorna {
      display: flex;
      flex-direction: column;
    }
    
    .ruta1,
    .ruta2,
    .ruta3,
    .ruta4 {
      opacity: 0;
      transition: opacity 0.5s ease;
      width: 50%;
      margin: 10px; 
    }
    
    .show {
      opacity: 1;
    }

   
  }