/* delar av misslyckad animation*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

.grid-item {
    position: relative;
    background-color: darkred;
    font-size: 2.5vw;
    border-radius: 10px;
    text-align: center;
    color: #e9e6df;
    margin: 10px;
    position: relative;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
}

.sliding-image-container {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: bottom 0.3s;
}

.hidden {
    display: none;
}

.grid-item:hover .hover-overlay {
    opacity: 1;
}

  
 
 .albumtitel{
    display: flex;
   justify-content: center;
   font-size: 40px;
 }
  ul {
    background: darkred;
    padding: 20px;
    border-radius: 10px;
  }
  ul li {
    background: darkkhaki;
    color: darkred;
    margin: 5px;
    font-size: 50px;
    list-style-type: none;
    border-radius: 10px;

  }  

  .bild{
    width: 100px;
    height: relative;
    margin-left: 10px;
    margin-top: 10px;
  }  

  .text{
font-size: 50px;
   }  



    
  
  @media (max-width: 600px) {
    .grid-container {
      grid-template-columns: 1fr; /* Ändrar grid*/
    }
      }