
  

.grid-container {
    display: grid; /* Använder CSS Grid för att skapa en grid-layout */
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Definierar grid-kolumnerna, med en minbredd på 400px och en fraktion av tillgängligt utrymme (1fr) */
    gap: 20px; /* Definierar mellanrummet mellan grid-elementen */
  }
  
  .grid-item {
    position: relative; /* Sätter positionen på grid-elementen som relativ för att möjliggöra positionering av dess innehåll */
    background-color: darkred;
    font-size: 2.5vw;
    border-radius: 10px;
    text-align: center;
    color: #e9e6df;
    margin: 10px;
    position: relative;  
}
  
  .image-container {
    position: relative; /* Sätter positionen på bild-container som relativ för att möjliggöra positionering av dess innehåll */
  }
  
  .image-container img {
    width: 100%; /* Ställer in bredden på bilderna till 100% för att anpassa dem till sin container */
    height: auto; /* Ställer in höjden på bilderna automatiskt för att bevara deras ursprungliga proportioner */
    object-fit: cover; /* Ställer in hur bilderna fyller sin container */
  }
  
  .hover-overlay {
    position: absolute; /* Ställer in positionen på överlagret som absolut för att placera det över bilden */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Anger bakgrundsfärgen för överlagret med 50% genomsiktighet (rgba) */
    opacity: 0; /* Anger att överlagret ska vara osynligt som standard */
    transition: opacity 0.3s; /* Tillämpar en övergångseffekt på opaciteten med en varaktighet på 0.3 sekunder */
  }
  
  .sliding-image-container {
    position: absolute; /* Ställer in positionen på den glidande bild-container som absolut för att placera den över bilden */
    bottom: -100%; /* Flyttar den glidande bild-container uppåt och döljer den initialt under bilden */
    left: 0;
    width: 100%;
    height: 100%;
   overflow: hidden; /* Gömmer innehållet som överstiger containerens storlek */
    transition: bottom 0.3s; /* Tillämpar en övergångseffekt på bottom-egenskapen med en varaktighet på 0.3 sekunder */
  }
  
  .hidden {
    display: none; /* Gömmer elementet genom att inte visa det */
  }
  
  .grid-item:hover .hover-overlay {
    opacity: 1; /* Ändrar opaciteten på överlagret till 1 när man hovrar över grid-elementet */
  }
  
  .grid-item:hover .sliding-image-container {
    bottom: 0; /* Flyttar den glidande bild-container nedåt och visar den när man hovrar över grid-elementet */
    display: block; /* Visar den glidande bild-container genom att ändra display-egenskapen till block */
  }

  
 
    
    
  .listan {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .bild1 { grid-area: 1 / 1 / 2 / 2; }
    .bild2 { grid-area: 1 / 2 / 2 / 3; }
    .bild3 { grid-area: 1 / 3 / 2 / 4; }
    .bild4 { grid-area: 1 / 4 / 2 / 5; }
    .bild5 { grid-area: 1 / 5 / 2 / 6; }
    .text1 { grid-area: 2 / 1 / 3 / 2; }
    .text2 { grid-area: 2 / 2 / 3 / 3; }
    .text3 { grid-area: 2 / 3 / 3 / 4; }
    .text4 { grid-area: 2 / 4 / 3 / 5; }
    .text5 { grid-area: 2 / 5 / 3 / 6; }

.bild {
    width: 70%;
    height: auto;  
    border-radius: 10px;
    padding: 32px 64px;
    background-color: darkred;
    margin: 10px;

}
.text{
    border-radius: 10px;
    padding: 32px 64px;
    background-color: darkred;
    margin: 10px;
}

.rad{
    
}
  @media (max-width: 600px) {
    .grid-container {
      grid-template-columns: 1fr; /* Ändrar grid*/
    }
      }